mixin navItem(link, text, icon, active)
    li: a(href=`${link}`)
            | #{text}



nav.user-view__menu
    ul.side-nav
        +navItem('/account/settings', 'Settings')

    - if (user.role === 'admin')
        .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav 
                +navItem('/admin/update-scores', 'Update Scores')
                +navItem('/admin/update-stats', 'Update Statistics')
                +navItem('/admin/manage-users', 'Manage Users')

