div.modal#login__modal
  div.modal-content
    .login-form
        span.close 
            | &times
        h2.heading-secondary.ma-bt-lg Log into your account
        form.form.form--login
            .form__group
                label.form__label(for='email') Email address
                input#email.form__input(type='email', placeholder='you@example.com', required)
            .form__group.ma-bt-md
                label.form__label(for='password') Password
                input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
                button.btn.btn-grey Login
            .form__group.login-signup-msg
                p 
                    | Don't have an account? 
                    span: strong Sign up here
            .form__group.reset-password
                p 
                    | Click here to 
                    span: strong reset password