div.modal#passReset__modal
  div.modal-content
    .resetPassword-form
        span.close 
            | &times
        h2.heading-secondary.ma-bt-lg Request password reset
        form.form.form--resetPassword
            .form__group
                label.form__label(for='emailReset') Email address
                input#emailReset.form__input(type='email', placeholder='you@example.com', required)
            .form__group
                button.btn.btn-grey Reset