div.modal#average_stats
    div.modal-content
        .average__stats--display
            span.close 
                | &times
            .avgTeam
                .avgTeam-info
                    h2.avgTeam-deets
                        span.avgTeam-name Premier League
                        | Arsenal
                    h3 Form last 10 games:
                    div.team-form
                    dl.avgTeam-stats
                        div
                            dt.avgTeam-stat Matches
                            dd.avgTeam-stat-number
                        div
                            dt.avgTeam-stat Wins
                            dd.avgTeam-stat-number
                        div
                            dt.avgTeam-stat Losses
                            dd.avgTeam-stat-number
                        div
                            dt.avgTeam-stat Goals
                            dd.avgTeam-stat-number
                .avgTeam-image
                    img(src="")
            h1.ma-bt-md Average Stats this season:
            .stats--list