extends base

block append head
    title='Football API | Set new Password'

block content
    main.main
        .newPassword-form
            h2.heading-secondary.ma-bt-lg Account Recovery
            form.form.form--newPassword
                .form__group.ma-bt-md
                    label.form__label(for='token') Reset Token
                    input#token.form__input(type='text', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#passwordReset.form__input(type='password', placeholder='••••••••', required, minlength='8' autocomplete="new-password")
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm' autocomplete="new-password") Confirm Password
                    input#passwordConfirmReset.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn-grey Update new password